footer.footer
    .footer__logo
        h1(style='color:#375ec8;font-family:"Shadows Into Light",cursive') BookMyTrip
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download app
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer_copy__right &copy: 2020 by Milanshu Rathi