extends base
block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot Your Password?
      form.form#forgotForm        
        .form__group
          label.form__label(for='email') Email
          input#email.form__input(type='email', placeholder='you@example.com', required)        
        .form__group
          button.btn.btn--green Get New Password